@font-face {
  font-family: 'YoungSerif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
  font-weight: 400, 600, 700;
}

:root {
  --color-White: hsl(0, 0%, 100%);
  --color-Stone-100: hsl(30, 54%, 90%);
  --color-Stone-150: hsl(30, 18%, 87%);
  --color-Stone-600: hsl(30, 10%, 34%);
  --color-Stone-900: hsl(24, 5%, 18%);
  --color-Brown-800: hsl(14, 45%, 36%);
  --color-Rose-800: hsl(332, 51%, 32%);
  --color-Rose-50: hsl(330, 100%, 98%);

  --1px: 0.0625rem;
  --4px: 0.25rem;
  --8px: 0.5rem;
  --11px: 0.6875rem;
  --12px: 0.75rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --28px: 1.75rem;
  --32px: 2rem;
  --36px: 2.25rem;
  --40px: 2.5rem;
  --48px: 3rem;
  --128px: 8rem;

  --spacing-50-px: 4px;
  --spacing-100-px: 8px;
  --spacing-150-px: 12px;
  --spacing-200-px: 16px;
  --spacing-300-px: 24px;
  --spacing-400-px: 32px;
  --spacing-500-px: 40px;
  --spacing-600-px: 48px;
  --spacing-1600-px: 128px;

  --spacing-50-rem: calc(4rem / 16);
  --spacing-100-rem: calc(8rem / 16);
  --spacing-150-rem: calc(12rem / 16);
  --spacing-200-rem: calc(16rem / 16);
  --spacing-300-rem: calc(24rem / 16);
  --spacing-400-rem: calc(32rem / 16);
  --spacing-500-rem: calc(40rem / 16);
  --spacing-600-rem: calc(48rem / 16);
  --spacing-1600-rem: calc(128rem / 16);

  --text-preset-1: 400 var(--36px) / 1 'YoungSerif', sans-serif;
  --text-preset-2: 400 var(--28px) / 1 'YoungSerif', sans-serif;
  --text-preset-3: 600 var(--20px) / 1 'Outfit', sans-serif;
  --text-preset-4: 400 var(--16px) / 1.5 'Outfit', sans-serif;
  --text-preset-4-bold: 700 var(--16px) / 1.5 'Outfit', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-Stone-100);
  color: var(--color-Stone-600);
  font: var(--text-preset-4);
  letter-spacing: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 32px var(--spacing-500-rem);
  /* border-inline: 1px solid brown; */
  background-color: var(--color-White);
}

section {
}

main {
  /* Use flex to prevent margin collapse */
  /* display: flex;
  flex-direction: column; */

  /* header {
    margin-top: 40px;
    margin-bottom: 32px;
  } */

  img {
    --spacing--400-px: calc(-1 * var(--spacing-400-px));

    /* Using negative margins & increase the width to expand through the container's inline paddings  */

    margin: 0 var(--spacing--400-px) var(--spacing-500-rem)
      var(--spacing--400-px);
    width: calc(100% + (2 * var(--spacing-400-px)));

    /* margin: 0 -32px calc(40rem / 16) -32px;
    width: calc(100% + (2 * 32px)); */

    height: auto;
  }

  h1 {
    margin-bottom: var(--spacing-300-rem);
  }

  section {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300-rem);
  }
  section:nth-of-type(1n + 3) {
    /* border: 1px solid green; */
    padding-top: var(--spacing-400-rem);
  }
  section:nth-of-type(1n + 2):not(:last-of-type) {
    /* figma border line is inside the padding */
    border-bottom: 1px solid var(--color-Stone-150);
    padding-bottom: var(--spacing-400-rem);
  }

  section.preparation {
    margin-block: var(--spacing-400-rem);
    padding: var(--spacing-300-rem) var(--spacing-300-px);
    background-color: var(--color-Rose-50);
    border-radius: 12px;
    gap: var(--spacing-200-rem);

    h2 {
      font: var(--text-preset-3);
    }
  }
}

img {
  display: block;
  object-fit: cover;
  /* outline: 1px solid orange; */
}

h1 {
  font: var(--text-preset-1);
  color: var(--color-Stone-900);
}

h2 {
  font: var(--text-preset-2);
  color: var(--color-Rose-800);
}

ul {
  list-style: none;

  li {
    padding-left: var(--40px);
    position: relative;

    /* .bullet {
      width: 16px;
      margin-left: 8px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }

    .bullet::before {
      content: '';
      background-color: var(--color-Rose-800);
      width: 4px;
      height: 4px;
      border-radius: 4px;
    } */
  }

  li::before {
    /* Visual circle */
    width: var(--4px);
    height: var(--4px);
    border-radius: var(--4px);
    background-color: var(--color-Rose-800);
    /* flex-shrink: 0; */

    /* Visual circle positioning, stretch along `li` height */
    top: 50%;
    left: var(--8px);
    transform: translateY(-50%);
    position: absolute;

    /* Visually hidden circle character to make screenreaders announce the bullet character */
    content: '\2022';
    color: transparent;
  }
}

ol li {
  /* margin-left: calc(1.5ch); */
  margin-left: calc(var(--16px) + var(--8px));
  padding-left: var(--16px);
}

li {
  + li {
    margin-top: var(--8px);
  }
}

::marker {
  color: var(--color-Rose-800);
  font-weight: 700;
}

table {
  border-collapse: collapse;
}

th,
td {
  width: 50%;
}
th {
  text-align: left;
}
tr:not(:first-of-type) th,
tr:not(:first-of-type) td {
  padding-top: var(--spacing-150-rem);
}
tr:not(:last-of-type) th,
tr:not(:last-of-type) td {
  /* figma border line is inside the padding */
  border-bottom: 1px solid var(--color-Stone-150);
  padding-bottom: var(--spacing-150-rem);
}

th {
  padding-inline: var(--spacing-400-rem) var(--spacing-100-rem);
  font: var(--text-preset-4);
}

td {
  padding-inline: var(--spacing-100-rem) var(--spacing-400-rem);
  color: var(--color-Rose-800);
  font: var(--text-preset-4-bold);
}

/* 
dl {
  display: flex;
  flex-wrap: wrap;
}

dt,
dd {
  width: 50%;
}

dt:not(:first-of-type),
dd:not(:first-of-type) {
  padding-top: 12px;
}
dt:not(:last-of-type),
dd:not(:last-of-type) {
  border-bottom: 1px solid var(--color-Stone-150);
  padding-bottom: 11px;
}

dt {
  padding-inline: 32px 8px;
}

dd {
  padding-inline: 8px 32px;
  color: var(--color-Rose-800);
  font-weight: bold;
} */

.attribution {
  border-top: 1px dashed var(--color-Stone-600);
  padding-block: var(--spacing-150-rem);
  background-color: #f4f4f4;
  font-size: var(--11px);
  text-align: center;
}
.attribution a {
  /* color: hsl(228, 45%, 44%); */
  font-weight: 600;
  color: var(--color-Stone-900);
}
